.button-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ajusta el ancho del contenedor para que ocupe toda la página */
    background-color: white; /* Color de fondo blanco */
    z-index: 1000;
    padding: 10px; /* Ajusta el relleno si es necesario */
    box-sizing: border-box; /* Incluye el relleno en el ancho total del contenedor */
    text-align: center; /* Centra los botones horizontalmente dentro del contenedor */
    background-color: aliceblue;
}

.button-container .btn {
    margin: 0 10px; /* Ajusta el espacio entre los botones si es necesario */
}

.card-group {
    background-color: aliceblue;
    border: 2px solid black; /* Establece el borde de las tarjetas en rojo */
    border-radius: 10px color; /* Ajusta la redondez de las esquinas según sea necesario */
    margin-bottom: 20px color; /* Añade un margen inferior para separar las tarjetas */
}
.card-body{
    border: 2px solid black;
}
.card-img-top{
    border: 2px solid black;
}

.card .btn-primary {
    background-color: rgb(167, 0, 0); /* Cambia el color de fondo del botón a rojo */
    color: white; /* Cambia el color del texto dentro del botón a blanco */
    border-color: rgb(167, 0, 0); /* Cambia el color del borde del botón a rojo */
}

.card .btn-primary:hover {
    background-color: darkred; /* Cambia el color de fondo del botón a rojo oscuro al pasar el mouse */
    border-color: darkred; /* Cambia el color del borde del botón a rojo oscuro al pasar el mouse */
}
.wrapper .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .wrapper .whatsapp:hover,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip::before {
    background-color: #25D366;
    color: #ffffff;
}

  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }









  .wrapper {
    display: inline-block;
    position: relative;
  }
  
  .icon {
    position: relative;
    background-color: #25D366;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #fff;
    text-decoration: none;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.5;
    font-size: 14px;
    background-color: #25D366;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #25D366;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  
  .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    pointer-events: auto;
  }


